.work-proses{
    display: inline;
    background: url(../assist/download\ \(18\).png);
}

.box-num{
    -webkit-text-stroke: 2px #f17732;
    color: transparent;
    font-size: 80px;
    font-weight: 900;
    text-shadow: 0 10px 0 #ffe3d3;
    transition: all .5s;
}
