header {
    position: relative;
    margin-top: 70px;
}

.header-img {
    animation: move .9s infinite alternate;
    transition: .9s ease all;
}
.text-header{
    background: url("../assist/download\ \(19\).png");
    
}
@keyframes move {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.msgbtn {
    position: absolute;
    top: 490px;
    left: 5px;
    animation: move .9s infinite alternate;

}

.plusimg {
    position: absolute;
    left: 550px;
    bottom: 200px;
}

.squerimg {
    animation: move .9s infinite alternate;
    position: absolute;
    top: 100px;
    right: 600px;

}

.header-content h6 {
    font-size: 18px;
    color: #565acf;
    width: 70%;
}

.header-content h2 {
    font-size: 50px !important;
    color: #1f2278;
}

.btn-readmore {
    border: none;
    width: 200px;
    height: 60px;
    margin-top: 60px;
    background-color: #f17723;

}

.btn-readmore:hover {
    opacity: .8;
    transition: 1s;
}